<accordion [isAnimated]="true">
    <accordion-group heading="Inclinação da cabeça">
        <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Rotação da cabeça">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Cotovelo direito">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Cotovelo esquerdo">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Pulso direito">
        <p>Some content</p>
      </accordion-group>
      <accordion-group heading="Pulso esquerdo">
        <p>Some content</p>
      </accordion-group>
  </accordion>